
<!-- 
TODO - fix accordions
http://foundation.zurb.com/forum/posts/536-accordion-click
-->

 <div class="row">
	<div class="debug small-3 large-3 columns">

		<dl class="accordion" data-accordion>
			<h3>class data</h3>

			<dd>
				<a href="#results" ng-click="do()">Class 1</a>
				<div id="panel1" class="content">
				details on class 1
				</div>
			</dd>

			<dd>
				<a href="#panel2" ng-click="do()">Class 2</a>
				<div id="panel2" class="content">
				details on class 2
				</div>
			</dd>

		</dl>
	</div>

	<div class="debug small-9 large-9 columns">
        <img src="/img/mocks/admin-main.png">
	</div>

</div>
