<div class="row" style="text-align:center;">
	<h2>notebook!</h2>
</div>

<div class="row">

	<div class="debug small-2 large-2 columns">
		<h3>skills</h3>
		
		<a href="#skills">
			<img width='150px' src="/img/badges/badge-01.png"><br/>
		</a>
		<a href="#skills">
			<img width='150px' src="/img/badges/badge-02.png"><br/>
		</a>
		<a href="#skills">
			<img width='150px' src="/img/badges/badge-03.png"><br/>
		</a>
		<a href="#skills">
			<img width='150px' src="/img/badges/badge-04.png"><br/>
		</a>
		
  	</div>

	<div class="debug small-10 large-10 columns">
		content
	</div>

</div>