<div id="showAllowHint" class="allowHint">
Click the "Allow" <br/>
button above
</div>

<div class="row ctr">
 	<h1>Rock Your Voice!</h1>
</div>

<div class="row">

	<div class="debug small-2 large-2 columns">
	<h3>skills</h3>

	<dl class="accordion" data-accordion>
		<dd>
			<div id="scoreTextId">
        <h4>Score: </h4>
			</div>
		</dd>

		<dd>
			<a href="">Transition
			<div class="progress radius round">
				<span id="transition"  class="meter" style="width: 10%"></span>
			</div>
			</a>
		</dd>

		<dd>
		  <a href="">FANBOYS
            <div class="progress radius round">
                <span id="fanboys" class="meter" style="width: 10%"></span>
            </div>
          </a>
		</dd>

		<dd>
		    <a href="">Vocabulary
            <div class="progress radius round">
                <span id="vocabulary" class="meter" style="width: 10%"></span>
            </div>
            </a>
      </dd>
      <dd>
		    <a href="">Precision
          <div class="progress radius round">
            <span id="precision" class="meter" style="width: 10%"></span>
          </div>
        </a>
  		</dd>

      <dd>
          <a href="">Caution
              <div class="progress radius round">
                  <span id="caution" class="meter" style="width: 10%"></span>
              </div>
          </a>
      </dd>

	</dl>

    <div id="div_language">
      <select id="select_language" onchange="updateCountry()"></select>
      <select id="select_dialect" ></select>
    </div>

	<hr>
		
	</div>

  <!-- content panel -->

	<div class="debug small-10 large-10 columns ctr">
    <p id="info_start">Click on the microphone icon and begin speaking.</p>

    <button id="start_button" onclick="startButton(event)" class="expand">
      <img id="start_img" src="/img/mic.gif" alt="Start" />
    </button>

    <div id="vtt-out" class="vtt-out">final</div>
    <div id="interim_vtt" class="interim_vtt">interim</div>

    <hr>
    <button id="copy_button" class="button" onclick="copyButton()">Check It!</button>

  </div>


</div>     <!-- row -->

