<div id="showAllowHint" class="allowHint">
Click the "Allow" <br/>
button above
</div>

<hr>


<div class="row">

	<div class="debug small-2 large-2 columns">

  <div class='score'>
    <h4>score:</h4>
    <div id="scoreTextId">__</div>
  </div>

	<dl class="accordion" data-accordion>
		<dd>
			<a href="#skills" data-tooltip class="has-tip bigtip" title="from A to B">Transition
			<div class="progress radius round">
				<span id="transition"  class="meter" style="width: 10%"></span>
			</div>
			</a>
		</dd>

		<dd>
		  <a href="#skills" data-tooltip class="has-tip bigtip" title="Fanboys of Grammar!">FANBOYS
        <div class="progress radius round">
            <span id="fanboys" class="meter" style="width: 10%"></span>
        </div>
      </a>
		</dd>

		<dd>
		    <a href="#skills" data-tooltip class="has-tip bigtip" title="Build it tall!">Vocabulary
            <div class="progress radius round">
                <span id="vocabulary" class="meter" style="width: 10%"></span>
            </div>
            </a>
      </dd>
      <dd>
		    <a href="#skills" data-tooltip class="has-tip bigtip" title="Precision in all things">Precision
          <div class="progress radius round">
            <span id="precision" class="meter" style="width: 10%"></span>
          </div>
        </a>
  		</dd>

      <dd>
          <a href="#skills" data-tooltip class="has-tip bigtip" title="Here be Dragons">Caution
              <div class="progress radius round">
                  <span id="caution" class="meter" style="width: 10%"></span>
              </div>
          </a>
      </dd>

	</dl>

    <div id="div_language">
      <select id="select_language" onchange="updateCountry()"></select>
      <select id="select_dialect" ></select>
    </div>

	<hr>
		
	</div>

  <!-- content panel -->

	<div class="debug small-10 large-10 columns ctr">

    <button id="start_button" onclick="startButton(event)" class="expand">
      <img id="start_img" src="/img/mic.gif" alt="Start" />
    </button>

    <div id="vtt-out" class="vtt-out">click the microphone icon and Rock Your Voice!</div>
    <div id="interim_vtt" class="interim_vtt">[ready]...</div>

    <button id="copy_button" class="button green expand" onclick="checkIt()">Check It!</button>

  </div>


</div>     <!-- row -->

