<div class="row" style="text-align:center;">
	<h2>notebook!</h2>
</div>

<div class="row">

	<div class="debug small-2 large-2 columns">
		<h3>skills</h3>

	<dl class="accordion" data-accordion>
		<dd>
		<div id="scoreTextId"><h4>Score: </h4> 
		<h3>parser</h3>
		score:{{blob.score}}<br/>
		{{blob.html}}<br/>
		{{blob.score = -1 }}
		</div>
	</dd>

        <dd>
            <a href="#transitions_panel">Transitions</a>
            <div id="transitions_panel" class="content">
              thing, um, like
          </div>
        </dd>
        <dd>
          <a href="#fanboys_panel">Fan Boys</a>
          <div id="fanboys_panel" class="content">
            frequently, indubidably
          </div>
        </dd>
        
        <dd>
            <a href="#academic_language">Academic</a>
              <div id="academic_language" class="content">
              Academic Language
              </div>
                <a href="#precise_language">Precision</a>
              <div id="precise_language" class="content">
              Precise Language
              </div>
        </dd>
	</dl>

		<a href="#skills">
			<img width='150px' src="/img/badges/badge-01.png"><br/>
		</a>
		<a href="#skills">
			<img width='150px' src="/img/badges/badge-02.png"><br/>
		</a>
		<a href="#skills">
			<img width='150px' src="/img/badges/badge-03.png"><br/>
		</a>
		<a href="#skills">
			<img width='150px' src="/img/badges/badge-04.png"><br/>
		</a>
		
  	</div>

	<div class="debug small-10 large-10 columns">
		content
	</div>

</div>