
<div class="row">
    <div class="medium-10 large-12 columns" id="story">
        <h3>Skills</h3>
        <div class = 'row'>
            <div id="fanboysBadge" class='large-8 columns'>
            <img width='150px' class='large-3 columns' src="/img/badges/badge-01.png">
                <h3 class="large-4 columns">FANBOYS</h3> 
            </div>     
        </div>
        <div class='row'> 
            <div id= 'fanboysText' style= 'display:none;'>
            <p class = 'infoDiv'>FANBOYS helps us connect our ideas to make our simple sentences into compound and complex sentences. It is important to work hard to include for, and, nor, but, or, yet, and so in our speech and writing.</p>
        </div>
        </div>



        <div class = 'row'> 
            <div id='transitionsBadge' class='large-8 columns'>
                <img width='150px' class='large-3 columns' src="/img/badges/badge-02.png">
                <h3 class="large-4 columns">TRANSITIONS</h3> 
            </div>
        </div>
        <div class='row'>
            <div id= 'transitionsText' style= 'display:none'>
            <p class = 'infoDiv' >TRANSITIONS allow us to begin our ideas strongly and precisely. With a transition our sentences sound more complete and our listener can follow our arguments. Don’t forget to start your ideas with transitions such as, In my opinion, In addition, Therefore.</p>
            </div>
        </div>



        <div class = 'row'>
            <div id = 'vocabularyBadge' class='large-8 columns'>
                <img width='150px' class='large-3 columns'src="/img/badges/badge-03.png">
                <h3 class="large-4 columns">VOCABULARY</h3> 
            </div>
        </div>
        <div class='row'>
            <div id= 'vocabularyText' style= 'display:none'>
                <p class = 'infoDiv'>Academic vocabulary is a key to success in high school, college and beyond. Remember to think before you speak and choose the most powerful words to express your ideas: affect, consequence, perspective, organize, convey.</p>
            </div>
        </div>
    

        <div class='row'> 
            <div id='precisionBadge' class='large-8 columns'>
            <img width='150px' class='large-3 columns'src="/img/badges/badge-04.png">
            <h3 class="large-4 columns">PRECISION</h3>
            </div> 
        </div>
        <div class='row' id= 'precisionText' style= 'display:none'>
            <p class = 'infoDiv'>Do your best to avoid these items in your speech or writing in order to show the world your intelligence. Some words to avoid are you know, that’s how it is, ummm, like.</p>
        </div>

        <div class = 'row'>
            <div id= 'cautionBadge'class='large-8 columns'>
            <img width='150px' class='large-3 columns' src="/img/badges/badge-02.png">
            <h3 class="large-4 columns">CAUTION</h3> 
            </div>
        </div>
        <div class='row' id= 'cautionText' style= 'display:none'>
            <p class = 'infoDiv'>Do your best to avoid these items in your speech or writing in order to show the world your intelligence. Some words to avoid are you know, that’s how it is, ummm, like.</p>
        </div>

    </div>
</div>