<div class="row ctr">
<h1>
	<i style="color:white;size:48px" class="foundicon-mic"></i>
    <img src="/img/logo/logo-600.png"/><br/>
    <a href="http://ltel.herokuapp.com">http://ltel.herokuapp.com</a>
</h1>
</div>



<hr/>

Rock Your Voice is a English Learner software focused on creating a connection between oral language proficiency and written literacy skills. In recent years, California and Oakland in general has seen a growth in our Long Term English Learner who are students who are struggling making growth and reclassifying as English Language Proficient for 6+ years.

As we move forward with the Common Core, it is essential that teachers and students being building academic language in order to engage with informational texts and support their claims with evidence and reasoning. Rock Your Voice! Supports these needs by looking at five essential language functions and the five essential grammatical and vocabulary constructions for success.


<h2>Rock Your Voice!</h2>

	Rock Your Voice is a English Learner software focused on creating a connection between oral language proficiency and written literacy skills. In recent years, California and Oakland in general has seen a growth in our Long Term English Learner who are students who are struggling making growth and reclassifying as English Language Proficient for 6+ years. 

<h2>Who is a Long Term English Learner:</h2>
<ul>
<li>Lived the majority of their lives in the U.S.
<li>Speak social English proficiently with their friends 
<li> Are orally bilingual between English and their home languages
<li>Live in mono-lingual households
<li>Perform below grade level in reading and writing
<li> Are at a high risk for dropping out and often struggle meeting A-G requirements do 
	to the mandated ELD minutes. 
</ul>

	As we move forward with the Common Core, it is essential that teachers and students being building academic language in order to engage with informational texts and support their claims with evidence and reasoning. Rock Your Voice! Supports these needs by looking at five essential language functions and the five essential grammatical and vocabulary constructions for success. 



<h2>4 Domains</h2>
<li>Listen	
<li>Speak	
<li>Read	
<li>Write

<h2>5 Language Functions</h2>
<h3>New Idea</h3>
	Claim<br/>
	Evidence<br/>
	Reasoning

<h3>Challenge</h3>
	Counterclaim<br/>
	Evidence<br/>
	Reasoning

<h3>Fortify</h3>
	Claim<br/>
	Evidence<br/>
	Reasoning

<h3>Negotiate</h3>
	Claim<br/>
	Evidence<br/>
	Reasoning

<h3>Summarize</h3>
	Main Idea<br/>
	Details

<h2>Bricks and Mortar</h2>

Mortar (grammar conventions)
<li>Transitions
<li>In my opinion, however, One may argue<br/>
	Compound/Complex Sentences
<li>FANBOYS

Bricks
<li>Academic Vocabulary<br/>
	385 Words before you graduate high school
<li>Precision<br/>
	Overly Used Words
<li>Caution!<br/>
	Like, cool, you know
