
<div class="row">	
    <div class= 'large-2 columns'>
    	<ul>	
    	</ul>
    </div>
    <div class="large-8 columns" id="story">
    	<h3> Topics </h3>

	<ul class="small-block-grid-3">

		<li>
			<br/>
			<a href="#prompt" class="button">Gum in Class</a>
		</li>

		<li>
			<br/>
			<a href="#prompt" class="button">Sleep Deprivation</a>
		</li>

		<li>
			<br/>
			<a href="#prompt" class="button">Staying up Late</a>
		</li>

	</ul>

</div>
<script>
    console.log("get data from local storage");
    document.getElementById("result").innerHTML = localStorage.getItem("contentText");
</script>